{% assign quizSlug = block.settings.quiz_slug %}

<script>
  window.quizSlug = "{{ quizSlug }}";
  window.shopURL = "{{ shop.secure_url }}";
</script>

<script src="{{ 'quiz.js' | asset_url }}" defer="defer"></script>

{% if quizSlug.size > 0 %}
<div class="page-width page-width--narrow">
  <product-quiz class="quiz">
    <h1 class="main-page-title page-title h0 product-quiz__title">
    </h1>
    <div class="product-quiz__body">
      <span>
      </span>
    </div>
    <form class="form">
      <div class="product-quiz__questions" id="questions">
        <div class="product-quiz__question">
          <span class="product-quiz__question-answer">
          </span>
        </div>
      </div>
      <hr class="product-quiz__submit-hr" />
      <div class="product-quiz__email-container">
        <label htmlFor="email">Enter your email to complete quiz</label><br>
        <input type="email" id="product-quiz__email" name="email" required="required" style="font-size: 16px; height: 32px"><br><br>
      </div>
      <button
        name="quiz-submit"
        type="submit"
        class="product-quiz__submit button button--secondary"
      >
        Get my results
      </button>
    </form>
  </product-quiz>
</div>
{% else %}
<div>
    <h2>No quiz slug, check settings</h2>
</div>
{% endif %}

{% schema %}
{
    "name": "Quiz section",
    "target": "section",
    "settings": [
        { "type": "text", "label": "Quiz slug", "id": "quiz_slug" }
    ]
}
{% endschema %}