.app {
  width: 100vw;
  height: calc(100vh - 80px);
  background-image: url("https://assets.gadget.dev/assets/default-app-assets/default-background.svg");
  left: 0;
  top: 80px;
  position: fixed;
  z-index: 0;
}

.app-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background: radial-gradient(ellipse at center, white 0.5rem, rgb(0, 0, 0, 0) 40rem);
}

.app-logo {
  height: 5rem;
  margin: 0 auto;
  display: block;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  display: inline;
  font-family: system-ui;
}

.app-link {
  font-family: system-ui;
  font-weight: bold;
  font-size: larger;
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.environment {
  font-weight: 250;
}

.development {
  color: #404b5a;
  text-transform: capitalize;
}

.production {
  color: #5d39bb;
  text-transform: capitalize;
}

p {
  font-size: 1rem !important;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.gap-12px{
  gap:12px;
}

.gap-4px{
  gap:4px;
}

.green-message{
  color: green !important;
}

.description {
  font-weight: 250;
  width: 350px;
  margin-bottom: 6px;
}

.main {
  min-width: 372px;
  display: flex;
  font-family: system-ui;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
}

.header {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 21px 50px 21px 49px;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui;
  z-index: 1;
  position: relative;
  font-size: 14px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  color: #000 !important;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.title {
  font-size: 24px;
  padding: 10px;
}

.google-oauth-button {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  align-self: stretch;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  text-decoration: none;
  font-weight:400;
  max-width: 350px;
}

.google-oauth-button:hover{
  background-color: #eee;
}

.signout-button {
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #000;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.card-stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  padding: 24px;
  gap: 16px;
  color: #000000;
}

.user-card {
  flex-basis: 185px;
}

.card-content {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  white-space: nowrap;
}

.icon {
  border-radius: 100px;
  width: 72px;
  height: 72px;
}

.userData {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-weight: 300;
}

.sm-description {
  color: #545454;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.custom-form{
  display:flex;
  gap:12px;
  flex-direction: column;
  max-width:350px;
  width:100%;
}

.custom-input{
  font-size: 1rem;
  padding: 4px 12px 4px 12px;
  border: solid 1px #ccc;
  border-radius: 4px;
  width:100%;
}

.custom-button{
  font-size: 1rem;
  color:#000;
  background:#eee;
  padding: 6px 6px 6px 6px;
  border: 1px solid black;
  border-radius: 4px;
  cursor:pointer;
  transition: all 200ms;
  text-decoration: none;
  width:150px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.format-message::first-letter{
  text-transform: capitalize;
}

.primary{
  color: #fff !important;
  background:#000;
}

.custom-button:hover{
  opacity:80%;
  transition: all 200ms;
}

.form-title{
  font-size:1.5rem;
  font-weight: 600;
  margin-bottom:0;
  padding-bottom:8;
}

