.app {
  width: 100vw;
  height: calc(100vh - 80px);
  background-image: url("https://assets.gadget.dev/assets/default-app-assets/default-background.svg");
  left: 0;
  top: 80px;
  position: fixed;
  z-index: 0;
}

.app-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    white 0.5rem,
    rgb(0, 0, 0, 0) 40rem
  );
}

.app-logo {
  height: 5rem;
  /* width: 5rem; */
  margin: 0 0;
  display: block;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 1rem !important;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.main {
  min-width: 372px;
  display: flex;
  font-family: system-ui;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
}

.header {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 21px 50px 21px 49px;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui;
  z-index: 1;
  position: relative;
  font-size: 14px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  color: #000 !important;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.icon {
  border-radius: 100px;
  width: 72px;
  height: 72px;
}
