{% assign reviews = product.metafields.productReviews.reviewMetaobjects.value | json %}

<script>console.log({{reviews}})</script>

<div>out</div>
{% for review in reviews %}
  <div>
    Hello
    {{review | json}}
  </div>
{% endfor %}

{% schema %}
{
  "name": "Reviews",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true }
  ]
}
{% endschema %}

