{% assign reviews = product.metafields.productReviews.reviewMetaobjects.value %}

<h2>Reviews</h2>
<div id="reviews">
  {% for review in reviews%}
      <div class="reviewCard">
        <p>{{ review.content}}</p>
        <div class="reviewStars">
          {% render "star-rating", rating: review.rating.value | plus: 0 %}
        </div>
      </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Reviews",
    "stylesheet": "reviews.css",
    "target": "section",
    "settings": []
  }
{% endschema %}

